:root {
    --greating-text: rgb(74, 74, 74);
    --text: black;
    --abs-part: #eef2f5;
    --abs-input: #d7e0e5;
    --abs-input-border: #838383;
}

[data-theme="dark"] {
    --greating-text: white;
    --text: white;
    --abs-part: #0a0e19;
    --abs-input: #111624;
    --abs-input-border: #949494;
}

* {
    color: var(--text);
}
/* Greating */

#greating {
    margin-top: 90px;
}

#portal-greating {
    text-align: center;
    margin-top: 190px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 65px;
    color: var(--greating-text);
}

#greating p {
    text-align: center;
    font-size: 27px;
    padding: 20px;
    color: var(--greating-text);
}

/* Absences Calculator */

#abs-container {
    width: 70%;
    margin: 40px auto 80px auto;
    max-width: 1000px;
}

#abs-container div {
    background-color: var(--abs-part);
}


#abs-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 25px 25px 15px 15px;
    padding-top: 10px;
}

#abs-info label {
    display: block;
    text-align: right;
    font-size: 20px;
}

#abs-info input {
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    padding-left: 0px !important;
    border: var(--abs-input-border) solid 1px;
    background-color: var(--abs-input);
    width: 100%;
    font-size: 18px;
    font-family: 'tajawal';
    
}

.info-part {
    padding: 3%;
    margin-bottom: 20px;
    width: 87%;
}

#lectures-count-input {
    border-radius: 13px 13px 13px 13px;
}


/* ----------------------- */

#result-div {
    margin-top: 20px;
    border-radius: 20px;
}

#result-div h3 {
    text-align: right;
    padding: 20px 5%;
    font-family: 'tajawal';
    font-size: 45px;
    font-weight: 500;
}

#abs-result {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 25px 25px 15px 15px;
}

#abs-result label {
    display: block;
    text-align: right;
    font-size: 20px;
}

#abs-result input {
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    padding-left: 0px !important;
    border: var(--abs-input-border) solid 1px;
    background-color: var(--abs-input);
    width: 100%;
    font-size: 18px;
}

.result-part {
    padding: 15px 0;
    margin-bottom: 15px;
    width: 39%;
}


#allowed-abs-input, #notallowed-abs-input {
    border-radius: 13px;
    font-family: 'tajawal';
    margin: auto ;
}

#result-button-div {
    width:88%;
    margin: 0 auto 10px auto;
    padding-bottom: 25px;
}

#result-button {
    padding: 12px 22px;
    width: 100%;
    font-size: 22px;
    background: linear-gradient(-120deg, #103291, #146394);
    color: white;
    border: none;
    border-radius: 15px 15px 25px 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#result-button:hover {
    background: #ff4b2b; /* smoother transition */
    border: none;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* -------------------------- */

#how-count {
    text-align: right;
    direction: rtl;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px 15px 30px 30px;
    padding: 20px 30px;
    font-family: 'tajawal';
}

#how-count h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

#how-count p {
    font-size: 18px;
    margin-bottom: 20px;
}


/* Making the page responsive */

/* Greating responsive */
@media (max-width: 1000px) {
    #portal-greating {
        font-size: 60px;
    }

    #greating p {
        font-size: 25px;
    }
}

@media (max-width: 630px) {
    #portal-greating {
        font-size: 45px;
    }

    #greating p {
        font-size: 20px;
    }
}

@media (max-width: 490px) {
    #portal-greating {
        font-size: 45px;
    }

    #greating p {
        font-size: 18px;
    }
}

/* Absences Calculator responsive */

    /* Subject name and hours per week responsive */
@media (max-width:940px) {
    .info-part label {
        font-size: 16px !important;
    }

    .info-part input {
        font-size: 15px !important;
    }
}

@media (max-width: 700px) {
    #abs-container {
        width: 85%;
    }
    .info-part label {
        font-size: 13px !important;
    }

    .info-part input {
        font-size: 12px !important;
    }
}

@media (max-width:470px) {
    .info-part label {
        font-size: 10px !important;
    }

    .info-part input {
        font-size: 9px !important;
    }
}

    /* result responsive */
@media (max-width: 940px) {
    #result-div .subtitle {
        font-size: 35px ;
    }

    .result-part label {
        font-size: 16px !important;
    }

    .result-part input {
        font-size: 15px !important;
    }

    #portal-greating {
    font-size: 50px;
    font-weight: 500;
    color: var(--greating-text);
    }

    #greating p {
    font-size: 22px;
    color: var(--greating-text);
    }
}

@media (max-width: 700px) {
    #result-div .subtitle {
        font-size: 30px ;
    }

    .result-part label {
        font-size: 13px !important;
    }

    .result-part input {
        font-size: 12px !important;
    }

    #result-button {
        font-size: 17px;
        padding: 7px;
    }
}

@media (max-width:470px) {
    #result-div .subtitle {
        font-size: 25px ;
        margin: auto;
    }

    .result-part label {
        font-size: 12px !important;
    }

    .result-part input {
        font-size: 10px !important;
    }

    #result-button {
        font-size: 14px;
        padding: 10px;
        border-radius: 10px 10px 19px 19px;
    }

    #portal-greating {
    font-size: 40px;
    font-weight: 500;
    color: var(--greating-text);
    }

    #greating p {
    font-size: 18px;
    color: var(--greating-text);
    }
}

    /* Disclaimer */

@media (max-width: 800px) {
    #how-count h3 {
        font-size: 18px;
    }

    #how-count p, #how-count b {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    #how-count h3 {
        font-size: 15px;
    }

    #how-count p, #how-count b {
        font-size: 13px;
    }
}